header {
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(243, 202, 66);
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: auto;
  height: 60px;
}

header nav {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-topo {
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 662px){
  header div{
    flex-direction: column;
  }

  header nav {
    border-top: 1px solid grey;
    width: 100%;
    justify-content: space-around;
    padding-top: 10px;
  }
}