/* fonte e imagem de fundo cobrindo a tela toda*/
body{
    font-family: 'Outfit' sans-serif;
    background-image: url(../imagens/fundo-site.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
h1, h2, h3, p{
    font-family: 'Outfit';
}
/* estilizando o topo header*/
.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px ;
    padding-top: 50px;
}

.topo .titulo{
    color: #f1ecff;
}

.topo .pokebola{
    width: 25px;
    height: 25px;
}

/* estilizando o corpo botndo  setas um do lado o outro */

.pokedex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 60px 0;
}

/* estilizando a lista */
.lista-pokemon{
    width: 310px;
    height: 520px;
    position: relative;
    
}

/* estilizando a seta*/
.btn-seta{
    background-color: #f1ecff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    transition: backgroud-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-seta.btn-voltar{
    transform: rotateY(180deg);
}

.btn-seta:hover{
    background-color: #8351fe;
}
/* estilizando o cartao*/
.cartao{
    opacity: 0; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.541) 0px 5px 15px;
    transition: opacity 0.3s ease-in-out;
}
.cartao.selecionado{
    opacity: 1;
    z-index: 1;
}
.fundo-1{
    background-image: url(../imagens/fundo-card-1.jpg);
    background-repeat: no-repeat;
}

.fundo-2{
    background-image: url(../imagens/fundo-card-2.jpg);
    background-repeat: no-repeat;
}

.fundo-3{
    background-image: url(../imagens/fundo-card-3.jpg);
    background-repeat: no-repeat;
}

.fundo-9{
    background-image: url(../imagens/fundo-card-9.jpg);
    background-repeat: no-repeat;
}
/* estilizando as informações do card*/

.cartao .informacoes{
    background-color: rgba(179, 177, 185, 0.7);
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 8px 10px;
    border-top-left-radius: 10px ;
    border-bottom-right-radius: 10px;
    margin: 15px 15px 0 ;
}
.cartao .informacoes .nome{
    color:  #f1ecff ;
    font-size: 22px;
}

.cartao .informacoes .vida{
    background-color: #333;
    color: #f1ecff;
    padding: 6px 10px;
    border-radius: 20px;
}
/* agora é a imagem*/

.cartao .cont-imagem{
    text-align: center;
    
}

.cartao .imagem-pokemon{
    max-width: 100%;
    max-height: 280px;
    padding: 20px;
}

/* estilizando a descrição*/ 
.cartao .descricao{
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 15px 15px ;
}

.cartao .descricao .titulo{
    background-color: #333;
    color: #f1ecff;
    font-size: 15px;
    padding: 12px;
}
.cartao .descricao .texto{
    font-size: 14px;
    padding: 12px;
    text-align: justify;
    max-height: 115px;
    overflow-y: auto;
}



