*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #ebebebeb;
}

.piano{
    background-color: #121212;
    width: 1000px;
    height: 400px;
    margin: 100px auto 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* estilizando o topo do piano */
.controls{
    color: rgba(255, 255, 255, 0.774);
    font-weight: bold;
    padding: 30px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
/* extilizando o botao de ativar a recla das notas  */
.switcher{
    width: 50px;
    height: 25px;
    background-color: #4e4e4e;
    display: flex;
    border-radius: 50px;
    padding: 5px;
}
.switcher__button{
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #ddd;
    border-radius: 50%;
}
/* classe para ser adicionada via JS */
.switcher--active{
    background-color:  #006eff;
    justify-content:  flex-end;
}
.checkbox__label{
    display: flex;
    gap: 15px;
    align-items: center;
}

/* ESTILIZANDO AS TECLAS */

/* estilizando o container das teclas */

.piano__keys{
    width: 100%;
    height: 400px;
    background-color: #292929;
    border-radius: 15px;
    padding: 30px 40px;
    display: flex;
}
/* estilizando as teclas brancas */

.white{
    background-color: white;
    width: 60px;
    flex-grow: 1;
    border-radius: 5px;
    border-bottom:  10px solid#ddd;
    color: #a0a0a0ad;
    font-weight: bold;
    margin-left: -17px;
    z-index: 1;
}
.key span{
    position: absolute;
    transition-duration: 400ms ;
}
.key{
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 8px;
    user-select: none;
}
/* estilizando teclas pretas */
.black{
    width: 40px;
    background:linear-gradient(black, #333);
    height: 150px;
    border-radius: 0 0 5px 5px;
    border-bottom:  10px solid #222;
    margin-left: -20px;
    z-index: 2;
    color: #ffffff65;
}
/* aplicando espaçamento em teclas que focaram juntas */
.piano__keys .white:nth-child(1){
    margin-left: 0;
}
.piano__keys .white:nth-child(5){
    margin-right: 20px;
}
.piano__keys .white:nth-child(12){
    margin-right: 20px;
}
.piano__keys .white:nth-child(17){
    margin-right: 20px;
}

/* css para o JS */
.black--pressed{
    background: linear-gradient(#222, black);
    border-bottom : none;
    height: 148px;
}

.dissable-keys span {
    opacity: 0;
}