/* config do reset de css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* configurando o corpo do site  */

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;

}
.fundo{
    background-image: url(img/pexels-cottonbro-studio-4835419.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 80%;
}
/* estilizando conteudo */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #3b3b3bef;
    max-width: 700px;
    margin: auto;
    box-shadow: -2px 6px 5px 1px rgba(102,85,0,0.95);
    padding: 15px;
}

.container-add-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
#add-item-task,
#btn-task{
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#btn-task{
	box-shadow: 1px 2px 0px 0px #fff6af;
	background-color:#ffec64;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
#btn-task:hover {
	background-color:#ffab23;
}
#btn-task:active {
	position:relative;
	top:1px;
}

#add-item-task{
    width: 20rem;
    border-radius: 1rem;
    padding: 11px;
}

#to-do-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

li{
    list-style: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
}
button{
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 1px 2px 0px 0px #fff6af;
	background-color:#ffec64;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-weight:bold;
	padding:4px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

/* extilizando o titilo */

.titulo{
    text-align: center;
    transform: translate(0%, 10%) skewY(deg);
    border: 2px solid #ffffff;
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #df2201, 0 0 10px #ecfd00, 
      inset 0 0 10px #ddff1e, inset 0 0 10px #e9ff1e;
    animation: animate 1s linear infinite;
    color: wheat;
}
h1 {
    font-size: 3em;
    color: #ffffff;
    text-shadow: 0 0 10px #ffec64, 0 0 20px #ff6464bb, 0 0 80px #ffec64, 0 0 120px #e20000c0;
   }

   h1 span {
    animation: animate 0.5s linear infinite;
   }
   
   h1 span:nth-child(1) {
    animation-delay: 1.55s;
   }
   
   h1 span:nth-child(2) {
    animation-delay: 4.55s;
   }
   
   h1 span:nth-child(3) {
    animation-delay: 2.35s;
   }
   
   
   @keyframes animate {
    0% {
    opacity: 1;
    }
    30% {
    opacity: 1;
    }
    40% {
    opacity: 0.5;
    }
    50% {
    opacity: 1;
    }
    100% {
    opacity: 1;
    }
   }
