/* config do reset de css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 10px;
}

/* configurando o corpo do site  */

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;

}
.fundo{
    background-image: url(img/pexels-cottonbro-studio-4835419.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 80%;
}
/* estilizando conteudo */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #4a4a4a71;
    max-width: 700px;
    margin: auto;
    box-shadow: -2px 6px 5px 1px rgba(102,85,0,0.95);
    padding: 15px;
}

.container-add-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
#add-item-task,
#btn-task{
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#btn-task{
	box-shadow: 1px 2px 0px 0px #fff6af;
	background-color:#ffec64;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
#btn-task:hover {
	background-color:#ffab23;
}
#btn-task:active {
	position:relative;
	top:1px;
}

#add-item-task{
    width: 20rem;
    border-radius: 1rem;
    padding: 11px;
}

#to-do-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

li{
    list-style: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}