*{
    margin: 0;
    padding: 0;
}

.App{
    height: 100vh; 
    padding-bottom:  90ox;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: aquamarine;
}
