.modo-claro{
    background-color: #fff;
    color: #000;
}

.modo-escuro{
    background-color: #252323;
    color: #fff;
}

header{
    display: flex;
}

header div{
    height: 10vh;
    padding-right: 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logomarca{
    width: auto;
    height: 100px;
  }

  header button{
    display: flex;
    align-items: center;
    border: 2px solid #b2987d;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
  }

  .texto{
    height: auto;
    display: flex;
    align-items: center;
  }

  .priparagrafo {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .secparagrafo {
    line-height: 26px;
    margin-bottom: 60px;
  }
  
  .assinatura {
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    font-size: 50px;
    color: #B2987D;
  }