*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1f1f1;
}

.game-container{
    width:  320px;
    height: 3220px;
    border: 1px solid #ccc;
    overflow:hidden;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.cell{
    width: 77px;
    height: 77px;
    background-color: #e6e6e6f4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #2e2e2e2e;
}

