* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #141414;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 83.12px;
    font-family: "Bruno Ace", sans-serif;
}
.title span{
    background: #00A3FF;
    background: linear-gradient(to right, #00A3FF 0%, #182FFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.title-name{
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 34.3px;
    margin-top: 80px;
    margin-bottom: 100px;
    font-family: "Bruno Ace", sans-serif;
}
.title-name span{
    color: #0022cc;
}

.texto-ex{
    font-family: Space Grotesk;
    font-size: 26.36px;
    font-weight: 400;
    line-height: 33.64px;
    text-align: center;
    color: #fff;
    margin-top: 50px;

}

.pesquisa {
    padding: 5px;
    background-color: #182FFF80;
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

input {
    border: 0 none;
    width: 100%;
    box-shadow: 0 none;
    background-color: none;
    background-color: transparent;
    color: #fff;
    font-family: Space Grotesk;
    outline: 0;
    font-size: 24px;
    margin-left: 20px;
    
}
input::placeholder{
    color: #fff;
    font-family: Space Grotesk;
    font-size: 24px;
}

.button {
    border: none;
    color: black;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    font-family: Space Grotesk;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 28%;
    
}

#gameList {
    display: flex;
    flex-direction: column;
    width: 550px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    align-items: center;

    
}

.game-item {
    display: flex;
    margin-bottom: 15px;
    line-height: 25px;
    align-items: flex-start;
    padding: 15px;
    gap: 1rem;
    justify-content: right;
    color: #fff;
    
}
.game-item span{
    color: white;
    font-weight: bolder;
}

.game-image img{
    width: 250px;
    height: 155.21px;
    display: flex;
    align-items: flex-start;
    border-radius: 11.85px;
    border: solid 2px #0066cc;
    
    
}

.rating p{
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 6px;
    border-radius: 7px;
    font-size: 25px;
    display: flex;
    width: 35px;
    justify-content: center;

    
    
}
.title-info{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    text-align:  left;
    font-family: "Space Grotesk", sans-serif;
    color: #fff;
}
.title-info p{
    font-size: 12px;
    font-family: "Space Grotesk", sans-serif;
    padding: 4px;
}
.title-info span{
    color: black;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
}

.title-info h3{
    font-size: 1.8rem;
    margin-top: 10px;
    line-height: 30px;
    font-family: "Space Grotesk", sans-serif;
}
.deleteButton{
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
    border-radius: 16px;
    font-size: 13px;
    background-color: #0022cc;
    color: #fff;
    padding: 2px;
    border: solid #000000 0px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 944ms;
    align-items: center;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
}

.deleteButton:hover{

transition : 944ms;
background-color: #fff;
color: #0066cc;
border: none;
}

.checkboxes{
    display: flex;
    gap: 1rem;
    padding: 5px;
    
}

.green-text {
    color: green;
}

.yellow-text {
    color: yellow;
}

.red-text {
    color: red;
}

.checkbox-zerado:checked + label {
    background-color: #00CE7A; /* Verde */
    border-radius: 40px;
    color: #000000;
    padding: 0 10px 0 10px;
}

.checkbox-jogando:checked + label {
    background-color: #FFEB3B; /* Amarelo */
    border-radius: 40px;
    color: #000000;
    padding: 0 10px 0 10px;
}

.checkbox-dropado:checked + label {
    background-color: #F44336; /* Vermelho */
    border-radius: 40px;
    color: #000000;
    padding: 0 10px 0 10px;
}

.platform-images img{
    width: 27px;
    height: 27px;
    
}
.platform-images{
    display: inline-flex;
    gap: 10px;
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    padding: 25px;
    align-items: center;
    font-family: Space Grotesk;
}
footer a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

footer a:hover{
    text-decoration: none;
    color: #0066cc;
    font-size: 1.2rem;
}

footer p{
    color: #fff;
}
.lista-f ul{
    display: inline-flex;
    gap : 2rem;
}
.pedro{
    color: #fff;
}
.lista-f li{
    list-style: none;
}